header>h1 {
  padding: 0px ;
  margin: 0px;
  margin-bottom: 0px;
  font-size: 150px;
  color:#02055A;
  position:relative;
  left:50px;
}

.comparison_container figure >img { width: auto;
height: auto;
max-width: 100%;
max-height: 100%;}